* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

.active {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    font-weight: bold;
}

body,
html {
    overflow-x: hidden;
}

body {
    transition: all 0.4s;
}

body.darkmode {
    background-color: rgb(32, 32, 44);
    color: white;
}

/* Navbar */
.navbar {
    border-radius: 40px;
    background-color: rgb(11, 19, 43);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    color: whitesmoke;
    font-size: 18px;
}

.darkmode .navbar {
    background-color: rgb(20, 34, 75);
}

.navbar:hover {
    transform: translateY(5px);
    transition: .5s;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links li {
    margin: 0 20px;
}

.menu-btn,
.close-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    cursor: pointer;
    display: none;
}

/*menu despleglable*/
.navbar .nav-links ul {
    border-radius: 10px;
    height: 100px;
    display: flex;
    flex-direction: column;
    list-style: none;
}


.navbar .nav-links ul {
    flex-direction: row;
    height: auto;
}

.navbar .nav-links ul li {
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 1000;
}

.navbar .nav-links ul li a {
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    font-weight: bold;
}

.navbar .nav-links ul li a:hover {
    color: #fc036b;
}

.navbar .nav-links ul li ul a:hover {
    color: #03FC18;
    transform: scale(1.1);
}

.navbar .nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar .nav-links .active a {
    font-weight: bold;
    text-transform: uppercase;
}

.navbar .nav-links ul {
    flex-direction: row;
    height: auto;
}

.navbar .nav-links ul li {
    position: relative;
    display: flex;
    flex: 1 1 100%;
}

.navbar .nav-links ul li ul {
    background-color: rgba(11, 19, 43, 0.9);
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    top: 80%;
    left: 0;
    display: none;
}

/*.navbar .nav-links  ul li ul:hover{
    background-color: rgba(255, 255, 255,0.3);
}*/

.navbar .nav-links ul li ul a {
    font-size: 15px;
    font-weight: bold;
    padding: 12px 0.5px;
    transition: .3s linear;
    cursor: pointer;
    text-transform: uppercase;
}

.navbar .nav-links ul li:hover ul {
    display: flex;
    transition: .5s;
    flex-direction: column;
}

.navbar .nav-links li button {
    border-radius: 20px;
    width: 90px;
    height: 30px;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
}

.navbar .nav-links li button::after {
    content: "Modo Oscuro";
    border: none;
}

.darkmode .nav-links li button {
    color: black;
    background-color: white;
}

.darkmode .nav-links li button::after {
    content: "Modo Claro";
    border: none;
}

header {
    width: 100%;
    height: 100vh;
    background-image: url('/img/backgruop.png');
    background-position: center top;
    background-size: 100% 600px;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    object-fit: contain;
}

.header-content {
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
    -webkit-text-stroke: 1px black;
}

.line {
    width: 350px;
    height: 4px;
    background: #fc036b;
    margin: 10px auto;
    border-radius: 5px;
}

.header-content h1 {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}

.header-content h2 {
    font-size: 30px;
}

.menu-btn,
.close-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    cursor: pointer;
    display: none;
}

.logo {
    float: left;
    padding: 5px 20px 0;
}

.logo img {
    height: 80px;
}

.logo img:hover {
    transform: scale(1.1);
}

li .fac {
    color: aqua;
    font-size: 20px;
    border-radius: 10px;
    border-color: #17ec29;
    border-style: solid;
    cursor: pointer;
    padding: 10px 20px;
}

li .fac:hover {
    border-color: #f0eff4;
    color: white;
}

/* seccion de buscado */
label {
    font-size: 30px;
    margin: 10px auto;
    background: rgba(197, 187, 187, 0.8);
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    align-items: center;
}

input {
    border-radius: 20px;
    width: 30%;
    height: 30px;
    margin: 10px;
    font-size: 18px;
    align-items: center;
    text-align: center;
    display: flex;
    font-weight: bold;
    flex-wrap: wrap;
    justify-content: center;
}

option {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    background-color: #03FC18;
}

/*secion de la parte de la preloader*/
.preloader {
    width: 100%;
    height: 100%;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    background-image: url("/img/logo.png");
    background-position: center center;
    background-size: 30% 40%;
    background-repeat: no-repeat;
}

.spiner {
    width: 210px;
    height: 210px;
    border-top: 5px solid blue;
    border-right: 5px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 100;
}

.spiner>div {
    animation: spin 1s linear infinite;
    box-sizing: border-box;
    margin: auto;
    width: 100%;
    height: 100%;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.container_cards {
    width: 93%;
    margin: 10px auto;
    /*border: 1px solid blue;*/
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    justify-content: space-around;
}

.line_title {
    width: 99%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 110px;
}

.line_title .title {
    display: flex;
    text-align: center;
    font-size: 40px;
    color: #49497e;
    font-weight: 700;
    -webkit-text-stroke: .3px black;
    /* box-shadow: 0 -55px 28px -25px #1a163f inset; */
}

.line3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 99%;
    height: 4px;
    background: #fc036b;
    margin: 10px;
    border-radius: 5px;
}

.darkmode .title {
    color: white;
}

.line2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 99%;
    height: 4px;
    background: #fc036b;
    margin: 10px;
    border-radius: 5px;
}

.cards {
    position: relative;
    width: 310px;
    height: auto;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    margin:0 0 10px 0;
}

.cards_tipo{
    background: #eb3349;
    width: 45px;
    height: 25px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bolder;
    letter-spacing: 1.5px;
    position: absolute;
    z-index: 1000;
    top: 12px;
    right: 32px;
}

.cards_img {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 250px;
    height: 350px;
    margin: 10px 20px;
    border: 1px solid #1a163f;
    border-radius: 3px;
    box-shadow: 0 0 10px #5a189a;
    background: #5a189a;
}

.cards_img .cards_back {
    position: absolute;
    top: 0;
    left: 0;
    height: 61%;
    width: 100%;
    background-image: url(/img/kamatte1.jpg);
    background-size: 260px 340px;
    background-position: left top;
    transition: all 0.5s ease-in-out;
    background-repeat: no-repeat;
}

.cards_img .cards_back2 {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 39%;
    width: 100%;
    background-image: url(/img/kamatte1.jpg);
    background-size: 260px 363px;
    background-position: left bottom;
    transition: all 0.5s ease-in-out;
}

.cards_img .back3 {
    background-image: url(/img/yuujin.jpg);
}

.cards_img .back4 {
    background-image: url(/img/yuujin.jpg);
}

.cards_img .back5 {
    background-image: url(/img/itsemss.jpg);
}

.cards_img .back6 {
    background-image: url(/img/itsemss.jpg);
}

.cards_img .back7 {
    background-image: url(/img/ordinary.jpg);
}

.cards_img .back8 {
    background-image: url(/img/ordinary.jpg);
}

.cards_img .back9 {
    background-image: url(/img/after1.jpg);
}

.cards_img .back10 {
    background-image: url(/img/after1.jpg);
}

.cards_img .back11 {
    background-image: url(/img/cursed/loveportada2.jpg);
}

.cards_img .back12 {
    background-image: url(/img/cursed/loveportada2.jpg);
}

.cards_img .back13 {
    background-image: url(/img/My_panter.jpg);
}

.cards_img .back14 {
    background-image: url(/img/My_panter.jpg);
}

.cards_img .back15 {
    background-image: url(/img/TheLoveComedy.jpg);
}

.cards_img .back16 {
    background-image: url(/img/TheLoveComedy.jpg);
}

.cards_img .back17 {
    background-image: url(/img/Tsukishiro.png);
}

.cards_img .back18 {
    background-image: url(/img/Tsukishiro.png);
}

.cards_img .back19 {
    background-image: url(/img/thestory.png);
}

.cards_img .back20 {
    background-image: url(/img/thestory.png);
}
.cards_img .back21 {
    background-image: url(/img/class1.jpg);
}

.cards_img .back22 {
    background-image: url(/img/class1.jpg);
}

.cards_img .back23 {
    background-image: url(/img/WhatHappens.jpg);
}

.cards_img .back24 {
    background-image: url(/img/WhatHappens.jpg);
}

.overlay {
    position: absolute;
    bottom: 50px;
    height: 120px;
    padding: 15px 10px;
    text-align: center;
    font-size: 17px;
    color: white;
    transform: rotate(90deg);
    transform-origin: 0 100px;
    opacity: 0;
    transition: all 0.5s ease;
}

.overlay_title {
    display: flex;
}

.overlay_descripcion {
    display: flex;
    font-size: 1rem;
    margin-top: 9px;
}

.card_title {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
}

.darkmode .card_title{
    color: white;
}

.cards_title {
    width: 80%;
    display: flex;
    font-weight: bolder;
    align-items: center;
    text-align: center;
}

.cards_img:hover .cards_back {
    transform: rotate(10deg) scale(1.3) translate(20px, 0);
    transform-origin: 220px 220px;
    opacity: 0.5;
}

.cards_img:hover .cards_back2 {
    transform: rotate(90deg) translate(0px, 150px);
    transform-origin: -20px 200px;
}

.cards_img:hover .overlay {
    opacity: 0.8;
    transform: rotate(0deg);
}


.explore {
    width: 100%;
    height: 70vh;
    margin: 10px 0 10px 0;
    background-image: url('/img/banner1.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.explore-content {
    width: 60%;
    padding: 50px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
    -webkit-text-stroke: 1px black;
}

.explore-content h1 {
    font-size: 50px;
}

.explore-content .line {
    margin-bottom: 50px;
}

.explore-content h3 {
    font-size: 30px;
    color: white;
    text-align: center;
}

.explore-content .ctn {
    width: 70px;
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
    color: white;
    background-color: #fc036b;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

.explore-content .ctn:hover {
    transform: translateY(10px);
    transition: .5s;
    background-color: #03FC18;
}

.content-col {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-col {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.tours .image-gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.image-gallery img {
    max-width: 300px;
    margin: 10px;
}

.content-col h1 {
    text-align: center;
    font-size: 50px;
    color: #484872;
}

.content-col .line {
    margin-left: -1px;
}

#disqus_thread {
    width: 95%;
    margin: 10px auto;
    color: white;
}

.footer {
    width: 100%;
    min-height: 100px;
    padding: 10px 40px;
    margin: 0;
    background: #484872;
    text-align: center;
}

.footer p {
    color: whitesmoke;
    margin: 20px auto;
}


@media only screen and (max-width: 1200px) {
    .nav-links {
        width: 90%;
        flex-wrap: wrap;
        display: flex;
        height: 135px;
        justify-content: space-evenly;
        align-items: center;
    }
}

@media only screen and (max-width: 900px) {
    .navbar {
        width: 100%;
        height: 130px;
        display: flex;
        justify-content: space-between;
    }

    .logo {
        padding: 5px 5px 0;
    }

    .logo img {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-links {
        width: 90%;
        flex-wrap: wrap;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .nav-links li {
        margin: 0 5px;
    }
}

@media only screen and (max-width: 700px) {
    .preloader {
        background-image: url("/img/logo.png");
        background-size: 90% 26%;
    }

    .menu-btn {
        display: block;
    }

    .navbar {
        padding: 0;
        background-color: transparent;
    }

    .darkmode .navbar {
        background-color: transparent;
    }

    .logo {
        position: absolute;
        top: 5px;
        left: -10px;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 45vh;
        justify-content: center;
        background-color: rgba(11, 19, 43, 0.7);
        margin-top: -900px;
        transition: all 0.5s ease;
    }

    .mobile-menu {
        margin-top: 0px;
        border-bottom-right-radius: 30%;
        border-bottom-left-radius: 30%;
    }

    .nav-links li {
        margin: 20px auto;
    }

    /*menu despleglable*/
    .navbar .nav-links ul li a {
        color: white;
        padding: 6px 5px;
        text-decoration: none;
        font-weight: bold;
    }

    .navbar .nav-links ul li a:hover {
        color: #fc036b;
    }

    .navbar .nav-links ul li ul a:hover {
        color: #03FC18;
        transform: scale(1.1);
    }

    .navbar .nav-links ul {
        flex-direction: row;
        height: auto;
    }

    .navbar .nav-links ul li {
        position: relative;
        display: flex;
        flex: 1 1 100%;
    }

    .navbar .nav-links ul li ul {
        background-color: rgba(11, 19, 43, 0.9);
        margin: 5px;
        text-align: center;
        border-radius: 10px;
        position: absolute;
        top: 80%;
        left: 0;
        display: none;
    }

    .navbar .nav-links ul li ul a {
        font-size: 10px;
        font-weight: bold;
        padding: 6px 0.5px;
        transition: .6s linear;
        cursor: pointer;
    }

    .navbar .nav-links ul li:hover ul {
        display: flex;
        transition: .5s;
        flex-direction: column;
    }

    .active {
        color: white;
        text-decoration: none;
        font-weight: bold;
        height: 5px;
    }

    header {
        width: 100%;
        height: 50vh;
        background-image: url('/img/banner2.png');
        background-position: center;
        background-size: 100% 600px;
        background-repeat: no-repeat;
        margin-top: 0px;
    }

    .header-content {
        margin-bottom: 80px;
        -webkit-text-stroke: 1px #f54768;
    }

    .line_title .title {
        text-align: center;
        font-size: 25px;
        color: #49497e;
        background: transparent;
    }

    li .fac {
        font-size: 15px;
        border-radius: 10px;
        border-color: #17ec29;
        border-style: solid;
        cursor: pointer;
        padding: 5px 10px;
    }

    li .fac:hover {
        border-color: #f0eff4;
        color: white;
    }

    .line {
        width: 350px;
        height: 4px;
        background: #fc036b;
        margin: 10px auto;
        border-radius: 5px;
    }

    /* seccion de buscado */
    label {
        font-size: 20px;
        margin: 10px auto;
        background: rgba(197, 187, 187, 0.8);
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        height: 60px;
    }

    input {
        border-radius: 20px;
        width: 50%;
        height: 32px;
        margin: 10px;
        display: flex;
        align-self: center;
    }

    .explore {
        width: 100%;
        height: 50vh;
        background-image: url(/img/banner1.png);
        background-position: center;
        background-size: 100% 500px;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
    }

    .explore-content {
        width: 100%;
        -webkit-text-stroke: 1px #f54768;
    }

    .tours .content-col h1 {
        font-size: 20px;
    }

    .tours .col {
        width: 100%;
    }

    .image-gallery {
        justify-content: center;
        align-items: center;
    }

    .image-gallery img {
        width: 50%;
    }

    .footer {
        padding: 10px;
    }
}

li:hover {
    color: #fc036b;
    cursor: pointer;
}