* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.active {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a {
    text-decoration: none;
    font-weight: bold;
}

ul {
    list-style: none;
    font-weight: bold;
}

body,
html {
    overflow-x: hidden;
}

body {
    transition: all 0.4s;
}

body.darkmode {
    background-color: rgb(32, 32, 44);
    color: white;
}

/* Navbar */
.navbar {
    border-radius: 40px;
    background-color: rgb(11, 19, 43);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: whitesmoke;
    font-size: 18px;
}

.darkmode .navbar {
    background-color: rgb(20, 34, 75);
}

.navbar:hover {
    transform: translateY(5px);
    transition: .5s;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links li {
    margin: 0 20px;
}

.nav-links li:hover{
    transform: scale(1.1);
    transition: .7s;
}

.menu-btn,
.close-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    cursor: pointer;
    display: none;
}

/*menu despleglable*/
.navbar .nav-links ul {
    border-radius: 10px;
    height: 100px;
    display: flex;
    flex-direction: column;
    list-style: none;
}


.navbar .nav-links ul {
    flex-direction: row;
    height: auto;
}

.navbar .nav-links ul li {
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 1000;
}

.navbar .nav-links ul li a {
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    font-weight: bold;
}

.navbar .nav-links ul li a:hover {
    color: #fc036b;
}

.navbar .nav-links ul li ul a:hover {
    color: #03FC18;
    transform: scale(1.1);
}

.navbar .nav-links ul {
    flex-direction: row;
    height: auto;
}

.navbar .nav-links ul li {
    position: relative;
    display: flex;
    flex: 1 1 100%;
}

.navbar .nav-links ul li ul {
    background-color: rgba(11, 19, 43, 0.9);
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    top: 80%;
    left: 0;
    display: none;
}

/*.navbar .nav-links  ul li ul:hover{
    background-color: rgba(255, 255, 255,0.3);
}*/

.navbar .nav-links ul li ul a {
    font-size: 15px;
    font-weight: bold;
    padding: 12px 0.5px;
    transition: .3s linear;
    cursor: pointer;
    text-transform: uppercase;
}

.navbar .nav-links .active a {
    font-weight: bold;
    text-transform: uppercase;
}

.navbar .nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar .nav-links ul li:hover ul {
    display: flex;
    transition: .5s;
    flex-direction: column;
}

.navbar .nav-links li button {
    border-radius: 20px;
    width: 90px;
    height: 30px;
    cursor: pointer;
    background-color: black;
    color: white;
}

.navbar .nav-links li button::after {
    content: "Modo Oscuro";
}

.darkmode .nav-links li button {
    color: black;
    background-color: white;
}

.darkmode .nav-links li button::after {
    content: "Modo Claro";
}

header {
    width: 100%;
    height: 70vh;
    background-image: url('/TheCool/thecoolbanner.jpg');
    background-position: center;
    background-size: 100% 500px;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 80px;
}

.header-content {
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
    -webkit-text-stroke: 1px #f54768;
}

.header-content h2 {
    font-size: 35px;
    margin-top: 50px;
    padding: 10px 50px;
    margin-bottom: 30px;
}

.line {
    width: 350px;
    height: 4px;
    background: #fc036b;
    margin: 10px auto;
    border-radius: 5px;
}

.menu-btn,
.close-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    cursor: pointer;
    display: none;
}

.logo {
    float: left;
    padding: 5px 20px 0;
}

.logo img {
    height: 80px;
}

.logo img:hover {
    transform: scale(1.1);
}

li .fac {
    color: aqua;
    font-size: 20px;
    border-radius: 10px;
    border-color: #17ec29;
    border-style: solid;
    cursor: pointer;
    padding: 10px 20px;
}

li .fac:hover {
    border-color: #f0eff4;
    color: white;
}

.minfo {
    width: 95%;
    height: auto;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    justify-content: space-evenly;
    text-align: center;
}

.minfo div {
    width: 95%;
}

.darkmode .title {
    color: white;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.line3 {
    display: inline-block;
    width: 1100px;
    height: 4px;
    background: #fc036b;
    margin: 10px;
    border-radius: 5px;
}

.line2 {
    display: inline-block;
    width: 1100px;
    height: 4px;
    background: #fc036b;
    margin: 10px;
    border-radius: 5px;
}

.minfo figure {
    padding: 10px;
    height: auto;
    width: 350px;
    flex-direction: column;
    display: flex;
    margin: 5px;
    align-self: center;
}

.minfo img {
    position: relative;
    display: flex;
    margin: 10px;
    box-shadow: 1px 5px 5px 2px #dfeffe;
    width: 90%;
    height: 412px;
    border-radius: 20px;
}
/*
.info{
    border: 1px solid black;
}
*/
.info {
    display: flex;
    width: 90%;
    margin: 30px auto;
}

.info table {
    width: 100%;

}

.info table caption {
    margin-bottom: 20px;
}

.info table tr .sinop {
    display: inline;
}

/*
.info table,th,td{
    border: 1px solid black;
} */

.info table th {
    width: 12%;
    height: 40px;
    text-align: start;
}

.content-col {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.line4 {
    justify-content: center;
    display: inline-block;
    width: 1100px;
    height: 4px;
    background: #fc036b;
    margin: 10px;
    border-radius: 5px;
}

.line5 {
    display: inline-block;
    width: 1100px;
    height: 4px;
    background: #fc036b;
    margin: 10px;
    border-radius: 5px;
}

.image-col {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    justify-content: center;
}

.tours .image-gallery {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    align-items: center;
    justify-content: center;
}

.image-gallery img {
    max-width: 300px;
    margin: 10px;
}

.content-col h1 {
    text-align: center;
    font-size: 50px;
    color: #484872;
}

.darkmode h1 {
    color: white;
}

.content-col .line {
    margin-left: -1px;
}

/*volumenes*/
.volumes {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    width: 95%;
    margin: 40px auto;
    justify-content: space-evenly;
}

.volumes div {
    display: flex;
    width: 95%;
    text-align: center;
    flex-direction: column;
}

.volumes figure {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.volumes figure .vol {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
}

.volumes figure img {
    width: 300px;
    border-radius: 10px;
    box-shadow: 1px 5px 3px 2px #dfeffe;
}

.volumes figure a {
    width: auto;
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
    color: white;
    background-color: #fc036b;
    border-radius: 20px;
    transition: all 400ms ease;
    margin-bottom: 5px;
    cursor: pointer;
    align-self: center;
}

#disqus_thread{
width: 95%;
margin: 10px auto;
}

.footer {
    width: 100%;
    min-height: 100px;
    padding: 10px 40px;
    margin: 0;
    background: #484872;
    text-align: center;
}

.footer p {
    color: whitesmoke;
    margin: 20px auto;
}

@media only screen and (max-width: 600px) {
    .menu-btn {
        display: block;
    }

    .navbar {
        padding: 0;
        background-color: transparent;
    }

    .darkmode .navbar {
        background-color: transparent;
        color: white;
    }

    .logo {
        position: absolute;
        top: 5px;
        left: -10px;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 45vh;
        justify-content: center;
        background-color: rgba(11, 19, 43, 0.7);
        margin-top: -900px;
        transition: all 0.5s ease;
    }

    .mobile-menu {
        margin-top: 0px;
        border-bottom-right-radius: 30%;
        border-bottom-left-radius: 30%;
    }

    .nav-links li {
        margin: 20px auto;
    }

    /*menu despleglable*/
    .navbar .nav-links ul li a {
        color: white;
        padding: 6px 5px;
        text-decoration: none;
        font-weight: bold;
    }

    .navbar .nav-links ul li a:hover {
        color: #fc036b;
    }

    .navbar .nav-links ul li ul a:hover {
        color: #03FC18;
        transform: scale(1.1);
    }

    .navbar .nav-links ul {
        flex-direction: row;
        height: auto;
    }

    .navbar .nav-links ul li {
        position: relative;
        display: flex;
        flex: 1 1 100%;
    }

    .navbar .nav-links ul li ul {
        background-color: rgba(11, 19, 43, 0.9);
        margin: 5px;
        text-align: center;
        border-radius: 10px;
        position: absolute;
        top: 80%;
        left: 0;
        display: none;
    }

    .navbar .nav-links ul li ul a {
        font-size: 10px;
        font-weight: bold;
        padding: 6px 0.5px;
        transition: .6s linear;
        cursor: pointer;
    }

    .navbar .nav-links ul li:hover ul {
        display: flex;
        transition: .5s;
        flex-direction: column;
    }

    .active {
        color: white;
        text-decoration: none;
        font-weight: bold;
        height: 5px;
    }

    header {
        width: 100%;
        height: 50vh;
        background-image: url('/TheCool/thecoolbanner.jpg');
        background-position: top;
        background-size: 100% 600px;
        background-repeat: no-repeat;
        margin-top: 0px;
    }

    .line3 {
        display: inline-block;
        width: 350px;
        height: 4px;
        background: #fc036b;
        margin: 5px;
        border-radius: 5px;
    }

    .line2 {
        display: inline-block;
        width: 350px;
        height: 4px;
        background: #fc036b;
        margin: 5px;
        border-radius: 5px;
    }

    li .fac {
        font-size: 15px;
        border-radius: 10px;
        border-color: #17ec29;
        border-style: solid;
        cursor: pointer;
        padding: 5px 10px;
    }

    li .fac:hover {
        border-color: #f0eff4;
        color: white;
    }

    /*header*/
    .header-content{
margin-bottom: 120px;
-webkit-text-stroke: 1px #f54768;
    }

       .header-content h2 {
        font-size: 20px;
        margin-top: 25px;
        padding: 5px 25px;
        margin-bottom: 10px;
    }

    .line {
        width: 350px;
        height: 4px;
        background: #fc036b;
        margin: 10px auto;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .info {
        border: none;
    }

    .info table,
    th,
    td {
        border: none;
    }

      .line4 {
        justify-content: center;
        display: inline-block;
        width: 350px;
        height: 4px;
        background: #fc036b;
        margin: 10px;
        border-radius: 5px;
    }

    .line5 {
        display: inline-block;
        width: 350px;
        height: 4px;
        background: #fc036b;
        margin: 10px;
        border-radius: 5px;
    }

    .tours .content-col h1 {
        font-size: 20px;
    }

    .tours .col {
        width: 100%;
    }

    .image-gallery {
        justify-content: center;
        align-items: center;
    }

    .image-gallery img {
        width: 40%;
    }

    .footer {
        padding: 10px;
    }
}

li:hover {
    color: #fc036b;
    cursor: pointer;
}
